.trip-map {
	width: 100%;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.trip-map a {
	padding: 0;
}

.trip-map a:hover {
	color: var(--foreground-alt);
}

.mapboxgl-popup-content {
	background-color: var(--background);
	color: var(--foreground);
	font-family: 'Barlow', Roboto, Arial, Helvetica, sans-serif;
	border-radius: 0.5rem;
	min-width: 15rem;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
	border-bottom-color: var(--background);
}

.mapboxgl-popup-close-button {
	color: var(--foreground);
	font-size: 1rem;
}

.mapboxgl-popup-content .trip-position-wrapper {
	margin: 0;
	margin-top: 1rem;
}

.mapboxgl-popup-content .trip-position {
	margin: 0rem;
}

.mapboxgl-popup-content .action {
	padding: 0 1rem;
}

.mapboxgl-popup-content .timestamp {
	padding-bottom: 0;
}

.marker-wrapper {
	background-color: var(--background);
	border-radius: 1rem;
	font-family: 'Barlow', Roboto, Arial, Helvetica, sans-serif;
	font-size: 0.9rem;
	font-weight: 500;
}

.marker {
	padding: 0.5rem 1rem;
	border: 1px solid var(--border);
	border-radius: 1rem;
}

.marker.primary {
	background-color: var(--primary-trans);
	color: var(--primary);
	border-color: var(--primary-trans-50);
}

.marker.blue {
	background-color: var(--blue-trans);
	color: var(--blue);
	border-color: var(--blue-trans-50);
}

.marker.green {
	background-color: var(--green-trans);
	color: var(--green);
	border-color: var(--green-trans-50);
}

.marker.red {
	background-color: var(--red-trans);
	color: var(--red);
	border-color: var(--red-trans-50);
}

.marker.purple {
	background-color: var(--purple-trans-50);
	color: var(--purple);
	border-color: var(--purple-trans-50);
}

.marker.orange {
	background-color: var(--orange-trans);
	color: var(--orange);
	border-color: var(--orange-trans-50);
}

.marker.yellow {
	background-color: var(--yellow-trans);
	color: var(--yellow);
	border-color: var(--yellow-trans-50);
}

.marker.primary.alt {
	background-color: var(--primary-dark);
	color: var(--foreground-alt);
}

.marker.blue.alt {
	background-color: var(--blue-dark);
	color: var(--foreground-alt);
}

.marker.red.alt {
	background-color: var(--red-dark);
	color: var(--foreground-alt);
}

.marker.green.alt {
	background-color: var(--green-dark);
	color: var(--foreground-alt);
}

.marker.purple.alt {
	background-color: var(--purple-dark);
	color: var(--foreground-alt);
}

.marker.orange.alt {
	background-color: var(--orange-dark);
	color: var(--foreground-alt);
}

.marker.yellow.alt {
	background-color: var(--yellow-dark);
	color: var(--foreground-alt);
}

.marker .marker-content {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
}
