.pill {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	background-color: var(--grey-dark);
	color: var(--grey-light);
	border-radius: 0.3rem;
	border: 0.0625rem solid var(--border);
}

.pill.primary {
	background-color: var(--primary-trans);
	color: var(--primary);
	border-color: var(--primary-trans);
}

.pill.blue {
	background-color: var(--blue-trans);
	color: var(--blue);
	border-color: var(--blue-trans);
}

.pill.green {
	background-color: var(--green-trans);
	color: var(--green);
	border-color: var(--green-trans);
}

.pill.purple {
	background-color: var(--purple-trans);
	color: var(--purple);
	border-color: var(--purple-trans);
}

.pill.orange {
	background-color: var(--orange-trans);
	color: var(--orange);
	border-color: var(--orange-trans);
}

.pill.active {
	border-color: var(--grey-light);
}

.pill.active.primary {
	border-color: var(--primary);
}

.pill.active.blue {
	border-color: var(--blue);
}

.pill.active.green {
	border-color: var(--green);
}

.pill.active.purple {
	border-color: var(--purple);
}

.pill.active.orange {
	border-color: var(--orange);
}

.pill > span {
	padding: 0.625rem;
}

.pill.clickable:hover,
.pill .delete:hover {
	background-color: var(--grey-darker);
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}

.pill.primary.clickable:hover,
.pill.primary .delete:hover {
	background-color: var(--primary-trans-50);
}

.pill.blue.clickable:hover,
.pill.blue .delete:hover {
	background-color: var(--blue-trans-50);
}

.pill.green.clickable:hover,
.pill.green .delete:hover {
	background-color: var(--green-trans-50);
}

.pill.purple.clickable:hover,
.pill.purple .delete:hover {
	background-color: var(--purple-trans-50);
}

.pill.orange.clickable:hover,
.pill.orange .delete:hover {
	background-color: var(--orange-trans-50);
}
