.popover {
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
	background: var(--background);
}

.popover h3 {
	padding: 1rem 0;
	margin: 0;
	width: 100%;
	background-color: var(--grey-light);
	color: var(--grey-dark);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.popover h3.primary {
	background-color: var(--primary);
	color: var(--foreground-alt);
}

.popover h3.blue {
	background-color: var(--blue);
	color: var(--foreground-alt);
}

.popover h3.green {
	background-color: var(--green);
	color: var(--foreground-alt);
}

.popover h3.orange {
	background-color: var(--orange);
	color: var(--black);
}

.popover h3.yellow {
	background-color: var(--yellow);
	color: var(--black);
}

.popover .description {
	max-width: 14.5rem;
	margin: 0.75rem;
	text-align: center;
}
