.trip-list-title-wrapper {
	position: stricky;
	width: 100%;
	color: var(--primary-dark);
	font-size: x-large;
	padding: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.trip-list-title-wrapper svg {
	color: var(--green);
}

.trip-list-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	flex: 1 1 auto;
	overflow-y: overlay;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.trip-list {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.trip-list h1 {
	font-size: x-large;
	font-weight: 600;
}

.trip-list .trip-header.current {
	flex-direction: column;
	gap: 2.5rem;
}

.trip-list .trip-header.current .trip {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.trip-list .trip-header.current .position {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.trip-list .trip-header.current .position .action {
	border-bottom: none;
	padding: 0;
}

@media only screen and (max-width: 50rem) {
	.trip-list-title-wrapper {
		padding: 1rem 0;
	}

	.trip-list-wrapper {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.trip-list .trip-header .trip-position-details {
		width: 100%;
	}

	.left .trip-position,
	.left .timestamp {
		max-width: 90vw;
		min-width: 90vw;
	}

	.trip-list .trip-header .trip-position-details {
		align-items: center;
	}

	.trip-list .date-duration {
		display: flex;
	}

	.trip-list .trip-list .trip-header.past .date,
	.trip-list .trip-list .trip-header.upcoming .date,
	.trip-list .trip-list .trip-header.current .date {
		font-size: 0.95rem;
	}
}
