.trip-list-title-wrapper {
	position: stricky;
	width: 100%;
	color: var(--primary);
	font-size: x-large;
	padding: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.trip-list-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	flex: 1 1 auto;
	overflow-y: overlay;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.trip-list {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.trip-list h1 {
	font-size: x-large;
	font-weight: 600;
}

.trip-header .left {
	flex: 1 1 auto;
}

.trip-header .left,
.trip-header .right {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
}

.trip-header .details {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.trip-position-details {
	display: flex;
	flex-direction: column;
}

.trip-position-details h2 {
	margin-bottom: 0;
}

.left .trip-position,
.left .timestamp {
	min-width: 25rem;
	max-width: 25rem;
}

.right .map {
	height: 90%;
	width: 20.25rem;
}

.trip-header .details h2 {
	text-align: center;
}

.trip-header .details .trip-status-wrapper {
	flex: 1 1 auto;
	background-color: var(--background);
	display: flex;
	flex-direction: column;
}

.trip-header .details .trip-status {
	flex: 1 1 auto;
	border-bottom-left-radius: 0;
}

@media only screen and (max-width: 50rem) {
	.trip-list-wrapper {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.trip-header .left,
	.trip-header .right,
	.trip-header .trip-position-details {
		width: 100%;
	}

	.left .trip-position,
	.left .timestamp {
		max-width: 90vw;
		min-width: 90vw;
	}

	.trip-header .trip-position-details {
		align-items: center;
	}
}
