.modal.MuiModal-root {
	min-width: 30vw;
	max-width: 50vw;
	min-height: 20svh;
	max-height: 75svh;
	background-color: var(--background);
	border: 0.0625rem solid var(--border);
	border-radius: 0.5rem;
	overflow-y: overlay;
	top: unset;
	left: unset;
	right: unset;
	bottom: unset;
}

.modal.MuiModal-root .modal-content {
	background-color: var(--grey-darkest);
	height: 100%;
}

.modal.MuiModal-root > :not(.MuiBackdrop-root.MuiModal-backdrop) {
	z-index: 1000;
}

.modal.create-modal {
	width: 45vw;
	max-height: 85svh;
}

.modal.confirm-modal {
	min-height: 22.5svh;
}

.modal.confirm-modal .modal-message-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal.confirm-modal .modal-message {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.modal.confirm-modal .modal-buttons {
	margin-top: 0.25rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.modal.create-modal .action.column .text {
	align-items: stretch;
	flex-direction: column;
}

.modal.modal.create-modal .create-input {
	padding-bottom: 1.5rem;
}

.modal .warning-text {
	text-align: center;
}

@media only screen and (max-width: 87.5rem) {
	.modal.MuiModal-root {
		min-width: 50vw;
	}
}

@media only screen and (max-width: 62.5rem) {
	.modal.MuiModal-root {
		min-width: 60vw;
	}
}

@media only screen and (max-width: 50rem) {
	.modal.MuiModal-root {
		min-width: 90vw;
		max-height: 85svh;
		top: 10%;
	}

	.modal .warning-text {
		padding: 1rem;
	}

	.modal .action {
		flex-direction: column;
		text-align: center;
		gap: 1rem;
	}

	.modal .action .input-wrapper {
		width: 100%;
		display: flex;
		justify-content: stretch;
	}

	.modal .action .input-wrapper input {
		width: 100%;
	}

	.modal .action-button {
		gap: 0;
	}
}
