.trip-wrapper {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
}

.last-position {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: stretch;
	margin: 1rem 0;
}

.last-position .action {
	border-bottom: none;
	padding: 0.5rem 1.5rem;
}

.timestamp {
	flex: 1 1 auto;
	font-size: 0.875rem;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 1rem;
}

.trip-content {
	height: 100%;
	border-left: 0.0625rem solid var(--border);
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	overflow-y: overlay;
}

.trip-no-data-wrapper {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.trip-no-data {
	padding: 3rem;
	background-color: var(--orange-trans);
	color: var(--orange);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

@media only screen and (max-width: 50rem) {
	.trip-wrapper {
		flex-direction: column;
	}

	.menu.trip-details {
		max-height: 15rem;
		overflow-y: overlay;
	}

	.trip-content {
		border-left: none;
		border-top: 0.0625rem solid var(--border);
		margin-left: 0;
		width: 100%;
	}
}
