.trip-position-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: stretch;
	flex: 1 1 auto;
}

.trip-position {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: stretch;
}

.trip-position .action {
	border-bottom: none;
	padding: 0.5rem 1.5rem;
}

.trip-position .coordinates {
	text-align: center;
	font-size: 1.1rem;
	font-weight: 500;
	margin: 1rem;
}
